<div class="about">
    <h3>Here Is What Our ProGrads Have To Say</h3>
    <div class="container">
        <article>
            <img src="../assets/pngguru.com.png" alt="Avatar">
            <p><span>PRAVESH, FSD0A0221</span> </p>
            <p>ProGrad is not like other online programming courses. It is entirely a self-learning journey. You can
                learn by
                doing. The practise sessions given in this program was very useful. My mentor motivated me and helped me
                to
                crack the aptitude round
                of Mphasis.</p>
        </article>
        <hr>
        <article class="art">
            <img src="../assets/pngguru.com.png" alt="Avatar">
            <p><span>ROBIN HOODA, FSD0B0001</span></p>
            <p>Prograd not only helped me in utilized my knowledge to the best of my capability but also nurtured my
                my technical skills and competance.
            </p>
        </article>
        <hr>
        <article class="art">
            <img src="../assets/pngguru.com.png" alt="Avatar">
            <p><span>SHRIKANT KUMAR, FSD0B0005</span></p>
            <p>In my academic , I learnt only theoretical concept of programming but ProGrad emphasized my coding and
                knowledge
                by teaching me a different approach in solving all the coding problem.
            </p>
        </article>
    </div>
</div>